* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.container {
  border: 0.3rem solid black;
  display: flex;
  height: 50vh;
  flex-wrap: wrap;
  /* flex-direction: column; */
  flex-wrap: wrap; /*Depending of the size of the vp it can automatically*/
  justify-content:space-between; /*Automatically it accommodate all*/
  align-items: center; /*I like baseline cause so we can accomodate to the content. But the box without size*/
}
.box {
  height: 10rem;
  flex-basis: 10rem;
  flex-grow: 1;
}
.box1 {
  background-color: blue;
  /* order: 6; This is interesesting cause we can to modificate the order of the boxs */
}
.box2 {
  background-color: blueviolet;
}
.box3 {
  background-color: burlywood;
}
.box4 {
  background-color: cadetblue;
}
.box5 {
  background-color: coral;
}
.box6 {
  background-color: salmon;
}
