.container {
  max-width: 1200px; /* Changing the width to max-width for less space in the margins.*/
  margin-left: auto;
  margin-right: auto;
}
.c1 {
  width: 60%;
}
.c2 {
  width: 40%;
}
.c3,
.c4 {
  width: 33%;
}
.c5 {
  width: 34%;
}
